h1{
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-color: white;
  margin-left: 10px;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 48px;
  font-weight: 100;
  line-height: 24px;
}
h2 {
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-color: white;
  margin-left: 10px;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 32px;
  font-weight: 100;
  line-height: 24px
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid rgb(14, 13, 13);
  border-radius: 4px;  
  margin-left: 10px;
}


.inputsearch{
  width: 90%;
  height: 200 px;
  background-image: url('/public/icons/query.png');
  background-size: 64px 64px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 24px 80px 24px 80px;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 300;
}

.filtercontainer {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 220px;
    line-height: 50px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btnf {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;

  }
  
  /* Add a light grey background on mouse-over */
  .btnf:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btnf.active {
    background-color: #666;
    color: white;
  }

  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  text {
    font-family: sans-serif;
    font-size: 12px;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(33, 43, 77);
    padding: 10px;
  }
  
  .button {
    background: rgb(0, 30, 128);
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 220px;
    height: 80px;
  }

  label {
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 28px;
    font-weight: 100;
    line-height: 24px;
  }