h1{
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-color: white;
  margin-left: 10px;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 48px;
  font-weight: 100;
  line-height: 24px;
}
h2 {
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-color: white;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 32px;
  font-weight: 100;
  line-height: 24px
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid rgb(14, 13, 13);
  color: white;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  border-radius: 4px;  
  margin-left: 10px;
}

.inputsearch{
  width: 90%;
  height: 200 px;
  background-image: url('/public/icons/query.png');
  background-color: white;
  background-size: 64px 64px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 20px 80px 24px 80px;
  
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 300;
}

#dateien {
  padding-left: 20px;
}


  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  text {
    font-family: sans-serif;
    font-size: 12px;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(33, 43, 77);
    padding: 10px;
  }
  
  .buttonupdata {
    background: rgb(0, 30, 128);
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 220px;
    height: 80px;
  }

  p {
    font-size: 24 px;
  }

  .buttonUpload {
    background: rgb(0, 30, 128);
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    width: 120px;
    height: 60px;
  }

  label {
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 28px;
    font-weight: 100;
    line-height: 24px;
  }

  ul {
    list-style: none;
}

label {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    background-color: white;
}

li {
    padding: 0.5em;
}

.filters {
    width: 420px;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.3);
    padding: 0.1em;
    position: absolute;
}

.filters__list li {
    display: flex;
    align-items: center;
    user-select: none;
    padding-bottom: 1em;
    line-height: 0;
}

.filters__list li:last-child {
  padding-bottom: 0;
}

input[type="checkbox"] {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
}

.filters:not(.filters--active) {
    display: none;
}

.btn_fi_send {
    background: rgb(7, 37, 118);
    padding: 1.5em 2em;
    margin-left: 20px;
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 0.05em;
    border: 0;
    outline: 0;
    text-align: left;
}

.button {
    background: rgb(7, 37, 118);
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    border: 0;
    outline: 0;
    text-align: left;
    min-width: 150px;
    min-height: 80px;
    display: inline-flex;
    justify-content: space-between;
    color: #f5f5f5;
    cursor: pointer;
}

.button::after {
    font-family: sans-serif;
    content: "▼";
    padding-left: 0.5em;
}

.button--highlight::after {
    content: "✓";
}
